// Place all the styles related to the lotto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.ot_title {
	color: #333;
	font-weight: bold;
	font-size: 40px;
	padding:25px 0 0 0;
	text-align: center;
}

.ot_predict { 
	color: red;
	font-weight: bold;
	font-size: 30px;
	padding:17px 0 0 0;
}

.ot_number_bg { 
	width:72px; 
	height:72px; 
	background-image:url('/img/lotto/num_bg_72x72.png'); 
	float: left;
}

.ot_number {
	color: blue;
	font-weight: bold;
	font-size: 48px;
	padding: 5px;
	//background-color: red;
	//display: table;
	text-align:center; 
	margin:0; 
	padding:17px 0 0 0;
}

div.ot_number_footer{
    clear: left;
    height: 0;
}
