<label for="keyword">To Lower Case</label>
<input id="keyword" type="text" value="Your Keyword" /><br>
<input id="btnGetToken" type="button" value="Get Token" /><br>

<br><br>

<label for="time">Current Time</label>
<input id="time" type="text" value="HELLO WORLD" /><br>
<input id="btnGetTime" type="button" value="Get Time" /><br>

<br><br>

<script type="text/javascript" src="js/plugins/jquery.core.1.8.2.js"></script>
<script type="text/javascript" src="js/plugins/jquery.log.js"></script> 
<script type="text/javascript" src="js/example/helloworld.js?v=2"></script> 

