<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
<link rel="stylesheet" href="css/investor.m.css" />

<div data-role="page">
<div id="wrapper" data-role="content">

	<label>總價</label>
	<input id="total" type="text" value="1000" />萬<br>
	<br><br>

	 
	<table>
		<tr>
			<label>房貸</label>
			<input type="radio" name="loan" value="LOAD_TO_VALUE" checked="checked"/>成數
			<input type="radio" name="loan" value="AMOUNT" />額度
		</tr>
		<tr>
			<td><span id="loanPrompt">成數(％)</span><input id="loan" type="text" value="80" /></td>
			<td>年限<input id="year" type="text" value="30" />年</td>
		</tr>
		<tr>
			<td>利率(％)<input id="rate" type="text" value="2.5" /></td>
			<td>寬限<input id="gracePeroid" type="text" value="2" />年</td>
		</tr>
	</table><br><br>


	<table>
		<tr>
			<td></td>
			<td>間數</td>
			<td>租金(萬)</td>
			<td>裝潢(萬/室)</td>
		</tr>
		<tr>
			<td>套房</td>
			<td><input id="suiteNum" type="text" value="4" /></td>
			<td><input id="suiteRent" type="text" value="1.2" /></td>
			<td><input id="suiteDecorationCost" type="text" value="38" /></td>
		</tr>
		<tr>
			<td>２房</td>
			<td><input id="othersNum" type="text" value="0" /></td>
			<td><input id="othersRent" type="text" value="1.8" /></td>
			<td><input id="othersDecorationCost" type="text" value="55" /></td>
		</tr>
	</table><br><br>


	<input id="calc" value="計算" /><br><br>


	<table>
		<tr>
			<td>現金流(只繳息)</td>
			<td><span id="cf1"></span></td>
		</tr>
		<tr>
			<td>現金流(本利攤)</td>
			<td><span id="cf2"></span></td>
		</tr>
		<tr>
			<td>總報</td>
			<td><span id="rot"></span></td>
		</tr>
		<tr>
			<td>ROI(只繳息/本利攤)</td>
			<td><span id="roi"></span></td>
		</tr>
		<tr>
			<td>首期支付</td>
			<td><span id="preCost"></span></td>
		</tr>	
	</table>

</div>
</div>

 
 <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
 <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>

<!--
<script type="text/javascript" src="js/plugins/jquery.core.1.8.2.js"></script>
-->
<script type="text/javascript" src="js/plugins/jquery.log.js"></script> 
<script type="text/javascript" src="js/esbi/investor.js?v=2"></script> 

